.intro {
  /* border: 3px solid red; */
  height: 74vh;
  /* text-align: justify; */
  padding: 9% 26% 2% 26%;
  text-shadow: 0 0 black;
}
.intro-p1 {
  color: black;
  font-size: 16pt;
  /* font-size: 1vw; */
  background-color: #f5f5f58c;
  text-align: justify;
}

.un-link {
  /* text-decoration: underline;
  font-weight: bold; */
  color: black;
}

.intro-p2 {
  font-size: 16pt;
  background-color: #f5f5f58c;
  font-weight: bold;
  /* text-decoration: underline; */
  text-align: justify;
}

.enter-btn {
  background-color: transparent;
  color: black;
  align-items: center;
  background-color: #f5f5f58c;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
