.intro {
  /* border: 3px solid red; */
  height: 80vh;
  text-align: center;
  padding: 5% 29% 2% 29%;
  -webkit-text-stroke: thin;
  text-shadow: 0 0 black;
  text-underline-position: from-font;
}
.intro-p1 {
  color: black;
  font-family: "Courier New", monospace;
  font-size: 16pt;
  /* font-size: 1vw; */
}

.un-link {
  text-decoration: underline;
  font-weight: bold;
  color: white;
}

.intro-p2 {
  font-family: "Courier New", monospace;
  font-size: 19pt;

  text-decoration: underline;
}

.enter-btn {
  background-color: transparent;
  color: white;
}
